<h4 class="text-center">Checkout our  new Offring</h4>

<!--
You have visited {{pagenum}} pages on this site.
<ul *ngFor="let i of pages">
  <li>{{i}}</li>
</ul>
<div class='container-fluid'>
  <div class="row">
    <div class="col-3">
<app-java [playerCB]="playersStructure"
[sportsRadio]="sportStructure"
(optSel)="optchange($event)"></app-java>
    </div>
    <div class="col-9">
      Role: {{team}}<br>
      Course Done :{{players}}<br>
      Current Status :{{sport}}<br>
Page :{{page}}<br>
<div class="row" *ngFor="let i of resumearr">
  <div class="col-3 text-center border">{{i.name}}</div>
  <div class="col-3 text-center border">{{i.course}}</div>
  <div class="col-2 text-center border">{{i.year}}</div>
  <div class="col-2 text-center border">{{i.status}}</div>
  <div class="col-2 text-center border">{{i.tech}}</div>
</div>
<div class='row'>
  <div class="col-6 text-left">
    <button  *ngIf="currpage>1" class="btn btn-primary" (click)="gotopage(-1)">Previous</button>
  </div>
  <div class="col-6 text-right">
    <button *ngIf="currpage<maxpage" class="btn btn-primary" (click)="gotopage(1)">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>





<h3 class="text-center">List of Extra Classes</h3>
<h6><a routerLink="/hello/Angular"  [queryParams]="{extra:'There is an extra class',time:'6 PM',faculty:'John Smith'}" routerLinkActive="true">Angular</a></h6>
    <h6><a routerLink="/hello/Phython" [queryParams]="{extra:'No extra Classes'}" routerLinkActive="true">Phython</a></h6>
    <h6><a routerLink="/hello/Java" [queryParams]="{extra:'there is an extra class',time:'8 PM',faculty:'Steve Morgan',message:'Lesson 8A'}" routerLinkActive="true">Java</a></h6>


<div class='row'>
  <div class="col-6 text-center border">
    <h5>List of Courses</h5>
    <h6><a routerLink="/hello/Angular" routerLinkActive="true">Angular</a></h6>
    <h6><a routerLink="/hello/Phython" routerLinkActive="true">Phython</a></h6>
    <h6><a routerLink="/hello/Java" routerLinkActive="true">Java</a></h6>
  </div>
  <div class="col-6 border text-center">
    <h5>List of Students</h5>
    <h6><a routerLink="/bye/james" routerLinkActive="true">James</a></h6>
    <h6><a routerLink="/bye/Mary" routerLinkActive="true">Edwards</a></h6>
    <h6><a routerLink="/bye/Bob" routerLinkActive="true">Margeret</a></h6>
    <h6><a routerLink="/bye/Martin" routerLinkActive="true">Kathrene</a></h6>

  </div>
</div>
 -->
