/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.cell{
  height: 120px;
  width: 120px;
  border-radius: 12px;
  margin: 10px;
  background-color: #099ffd;
}
.cellsame{
  height: 120px;
  width: 120px;
  border-radius: 12px;
  margin: 10px;
  background-color: #444444;
}
